/* Title */
.title {
    font-size: 2em;
    margin: 10px 0;
    display: flex;
    font-weight: 300;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title div {
    height: 2px;
    width: 3em;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #FFF;
}

/* AppBar */
.header {
    position: relative;
}
.header #logo {
    vertical-align: top;
    width: 100%;
    height: 16em;
}

.meni {
    position: absolute;
    width: 100%;
    top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #000;
}

.meniTitle {
    text-transform: uppercase;
    font-size: 2.2em;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.meniNavLink {
    text-decoration: none;
    color: inherit;
    margin: 10px;
    border-bottom: 2px solid transparent;
}

.appBarItem img {
    height: 2.3em;
}
.appBarItem div {
    font-size: 0.8em;
    margin: 5px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.meniTitle span {
    font-weight: 600;
}

.meniItems {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appBarItem {
    color: #000;
    text-align: center;
}

.container {
    padding: 0 20%
}

/* Launch */

.launchContainer {
    background-color: #FFFFFF;
    border-radius: 20px;
    font-weight: 300;
    padding: 20px;
    color: #000;
    font-size: 1.1em;
}

.launchTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #CFCFCF;
}

.launchContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.launchList {
    list-style-type: none;
    padding: unset;
}

.launchLinks {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
}

.launchStatus {
    border-radius: 20px;
    padding: 5px 10px;
    color: #FFF;
}

.rocketFirstLaunch {
    display: flex;
    flex-direction: column;
}

.rocketFirstLaunch span {
    font-size: 0.6em;
    text-align: center;
    text-transform: uppercase;
    color: #9E9E9E;
    font-weight: 600;
}

/* Loader */
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #000;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination div {
    background-color: #FFF;
    height: 15px;
    width: 35px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

.pagination img {
    height: 100%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    .header #logo {
        height: 10em;
    }
    .appBarItem img {
        height: 1.9em;
    }
    .meniTitle {
        font-size: 1.5em;
        margin-bottom: unset;
    }
    .meni {
        top: 6%;
    }
    .appBarItem div {
        font-size: 0.6em;
    }
    .meniNavLink {
        margin: 5px;
    }
    .title {
        font-size: 1.7em;
    }
    .container {
        padding: 0 5%;
    }
    .launchContainer {
        font-size: 0.8em;
    }
}