/* Title */
.title {
    font-size: 2em;
    margin: 10px 0;
    display: flex;
    font-weight: 300;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title div {
    height: 2px;
    width: 3em;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #FFF;
}

/* AppBar */
.header {
    position: relative;
}
.header #logo {
    vertical-align: top;
    width: 100%;
    height: 16em;
}

.meni {
    position: absolute;
    width: 100%;
    top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #000;
}

.meniTitle {
    text-transform: uppercase;
    font-size: 2.2em;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.meniNavLink {
    text-decoration: none;
    color: inherit;
    margin: 10px;
    border-bottom: 2px solid transparent;
}

.appBarItem img {
    height: 2.3em;
}
.appBarItem div {
    font-size: 0.8em;
    margin: 5px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.meniTitle span {
    font-weight: 600;
}

.meniItems {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appBarItem {
    color: #000;
    text-align: center;
}

.container {
    padding: 0 15%;
}

.container > div:nth-child(2) {
    padding: 2em 0;
}

/* Launch */

.launchContainer {
    background-color: #FFFFFF;
    border-radius: 20px;
    font-weight: 300;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #000;
    font-size: 1.1em;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.launchContainer:hover {
    transform: scale(1.03);
    transition: transform 200ms ease-in-out;
}

.launchContainer > img {
    width: 100%;
    height: 10em;
    flex-grow: 1;
    border-radius: 20px;
}

.launchTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #CFCFCF;
}

.launchTitle > span {
    text-align: center;
}

.launchContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.launchList {
    list-style-type: none;
    padding: unset;
}

.launchLinks {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.launchStatus {
    border-radius: 20px;
    padding: 5px 10px;
    color: #FFF;
}

.rocketFirstLaunch {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rocketFirstLaunch span {
    font-size: 0.6em;
    text-align: center;
    text-transform: uppercase;
    color: #9E9E9E;
    font-weight: 600;
}

.itemList:not(:last-of-type)::after {
   content: ", "
}

.seeAllLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 1.3em;
    font-weight: 300;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

.seeAllLink a {
    color: inherit;
    font-weight: 500;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    text-decoration: inherit;
}

.seeAllLink img {
    padding-left: 10px;
}

.dashboardContainer {
    display: flex;
    justify-content: center;
}

.dashboardContent {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.iconLink {
    text-decoration: none;
    display: flex;
    margin-left: 15px;
}

.dashboardLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
}

.dashboardLinks a {
    margin: 0 5px
}

.responsiveContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.responsiveItem {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-grow: 1;
}

.missionContainer {
    background-color: #FFFFFF;
    border-radius: 20px;
    font-weight: 300;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 0;
    color: #000;
    font-size: 1.1em;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.missionContainer:hover {
    transform: scale(1.02);
    transition: transform 300ms ease-in-out;
}

.missionInfo {
    display: flex;
    align-items: center;
    word-break: break-all;
}

.missionInfo > div:nth-child(2) {
    margin-left: 20px;
}

.missionLinks {
    display: flex;
    align-items: center;
}

/* Loader */
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #000;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: unset !important;
  padding-bottom: unset !important;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    justify-content: flex-end;
    font-weight: 300;
}

.pagination div {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 15px;
}

.pagination img {
    height: 100%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 850px) {
    .header #logo {
        height: 10em;
    }
    .appBarItem img {
        height: 1.9em;
    }
    .meniTitle {
        font-size: 1.5em;
        margin-bottom: unset;
    }
    .meni {
        top: 6%;
    }
    .appBarItem div {
        font-size: 0.6em;
    }
    .meniNavLink {
        margin: 5px;
    }
    .title {
        font-size: 1.7em;
    }
    .launchContainer, .missionContainer {
        font-size: 0.8em;
    }
    .seeAllLink {
        font-size: 0.8em;
    }
    .responsiveItem {
        width: 45%;
    }
    
}

@media only screen and (max-width: 1470px) {
    .container {
        padding: 0 10%
    }
    
    .responsiveItem {
        width: 45%;
    }
}

@media only screen and (max-width: 700px) {
    .responsiveItem {
        width: 100%;
        padding: 10px 0;
    }
    .responsiveContainer {
        display: unset;
    }
    .dashboardContainer {
        flex-direction: column;
    }
    .dashboardContent {
        margin: 10px 0;
    }
    
}

@media only screen and (max-width: 1000px) {
    .container {
        padding: 0 5%;
    }
    .missionInfo {
        flex-direction: column;
        align-items: unset;
    }
    .missionInfo > div:nth-child(2) {
        margin-left: unset;
    }
}